body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
div{
    border-bottom: 1px solid #efefef;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 720px;
}
.title{
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    color: black;
    font-size: 10px;
}
.radio-buttons label{
    float: none;
}
.submit{
    text-align: center;
}
input[type=submit],
input[type=reset]{
    padding: .1em .2em;
    border: 1px solid hsla(0,0%,0%,.3);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    background-color: #000;
    color: #ffff;
    text-shadow: 0px -1px 0 hsla(0,0%,0%,.8);
    font-size: 18px;
}
span{
    color:red;
    font-size: 14px;
}